.cart-list {
    list-style-type: none;
    padding: 0;
  }
  
  .cart-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .cart-item span {
    flex: 1;
  }
  
  .remove-button {
    margin-left: 15px; /* Adds space between price and remove button */
    padding: 5px 10px;
    background-color: #9f4f2d;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .remove-button:hover {
    background-color: #9f4f2d;
  }
  